<launch>
    <rosparam command="load" file="$(find rpi_car_driver)/config/robot.yaml" />


    <!-- Publish Camera DISABLED -->
    <!-- <include file="$(find raspicam_node)/launch/camerav1_1280x720.launch"/> -->

    <!-- Publish Odom -->
    <node pkg="rpi_car_driver" name="rpi_base_node" type="RobotBase.py"></node>


    <!-- All the features of the car have an individual driver publishing -->

    <node pkg="rpi_car_driver" name="buzzer_driver" type="Buzzer.py" output="screen">
        <param name="buzzer_pin" value="17"/>
    </node>

    <node pkg="rpi_car_driver" name="voltage_monitor" type="Adc.py" output="screen"></node>
    <node pkg="rpi_car_driver" name="ultrasonic_driver" type="Ultrasonic.py" output="screen"></node>
    <node pkg="rpi_car_driver" name="motor_driver" type="Motor.py" output="screen"></node>
    <node pkg='rpi_car_driver' name='servo_controller' type='Servo.py' output='screen'></node>
    <!--<node pkg='rpi_car_driver' name='led_controller' type='Led.py' output='screen' launch-prefix="sudo -SE"></node>-->
   
    <!-- Publish static transform from base_footprint to base_link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.098 0 0 0  /base_footprint /base_link"/>


</launch>